{% extends 'layout.html' %}

{% block body %}

{% if response %}

<h2 class="text-center text-light pb-3">Showing News for <strong>{{topic}}</strong></h2>
<div class="container home text-light">
    {% for news in response %}
    <div class="news-card">
        <img src="{{news['news_image']}}" alt="" srcset="" loading="lazy">
        <div class="accordion" id="accordionExample{{news['news_id']}}">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne{{news['news_id']}}" aria-expanded="true"
                        aria-controls="collapseOne{{news['news_id']}}"
                        style="background-color: #735d7e;">{{news['news_title']}}
                    </button>
                </h2>
                <div id="collapseOne{{news['news_id']}}" class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample{{news['news_id']}}">
                    <div class="accordion-body bg-dark">
                        {{news['news_summery']}}
                        <br>
                        <p class="font-weight-bold"><a class="text-warning font-weight-bold" target="_blank"
                                href="{{news['news_link']}}">Read
                                full
                                article on
                                {{news['news_source']}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <p class="bg-success text-center">Published Date {{news['news_date']}}</p>
    </div>
    {% endfor %}

</div>
<div class="container mt-4">
    <form action="{{request_url}}" method="POST">
        <div class="load_more">
            <input value="{{topic}}" name="topic" type="text" class="form-control" id="topic"
                placeholder="Search Topics" hidden>
            <label class="btn btn-light">Number of Articles ({{news_quantity}})</label>
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
        <input class="w-100" type="range" name="load_more_range" id="load_more_range" step="1" min="1" max="25"
            value="{{news_quantity}}">
        <div class="load_more text-light">
            <span>01</span><span>05</span><span>10</span><span>15</span><span>20</span><span>25</span>
        </div>
    </form>
</div>

{% else %}

<div class="container">
    <a href="/"><img class="w-100 rounded" src="{{ url_for('static', filename='/images/403.png') }}"
            alt="ERROR 403 : access denied or http request failed"></a>
</div>

{% endif %}

{% endblock %}